html, body {
  margin: 0;
  padding: 0;
}

.button_todo {
  background-color: white;
  border: none;
  color: rgb(255, 255, 255);
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: none;
}